<ion-view hide-nav-bar="true">
  <ion-content class="padding" id="login-form">
    <div class="row" style="text-align:center;">
      <div class="col col-100"><h1 style="color: #fff; font-weight: 750;">Sign Up</h1></div>
    </div>
  	<form class="list" novalidate>
  	  <label class="item item-input">
  	  	<input type="text" placeholder="Username" ng-model="user.username" required />
  	  </label>

  	  <label class="item item-input">
  	  	<input type="email" placeholder="Email" ng-model="user.email" required />
  	  </label>

  	  <label class="item item-input">
  	  	<input type="password" placeholder="Password" ng-model="user.password" required />
  	  </label>

      <button class="button button-block button-royal" style="margin-top: 20px;" ng-click="signUp()">
        Sign Up
      </button>  
    </form>
    <br><br><br>
    <div>{{error}}</div>
  </ion-content>
</ion-view>