<ion-view title="DASHBOARD">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <h2>Marty McFly</h2>
        <a href="#" class="subdued">Uploaded November 7, 2015</a>
      </div>
      <div class="item item-body">
        <div>
          <img src="http://placehold.it/300x100" ng-click="showModal($event)">
          
          <span>#Abercombie</span>
          <br />
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">9 Reactions</a>
          <a href="#" class="subdued">9 Shares</a>
        </div>
      </div>
      <div class="item tabs tabs-light tabs-icon-left ">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-happy"></i>
          React
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar">
    <h2>Cherry Kim</h2>
    <a href="#" class="subdued">Uploaded November 4, 2015</a>
  </div>
      <div class="item item-body">
        <div>
          <img src="http://placehold.it/300x100" ng-click="showModal($event)">
          <span>#Abercombie</span>
          <br/>
          <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Reactions</a>
                <a href="#" class="subdued">9 Shares</a>

        </div>
      </div>
      <div class="item tabs tabs-background-light tabs-secondary tabs-icon-left">

        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-happy"></i>
          React
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar">
    <h2>Imran Uddin</h2>
    <a href="#" class="subdued">Uploaded November 4, 2015</a>
  </div>
      <div class="item item-body">
        <div>
          <img src="http://placehold.it/300x100" ng-click="showModal($event)">
        </div>
        <span>#Abercombie</span>
          <br/>
        <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Reactions</a>
                <a href="#" class="subdued">9 Shares</a>
      </div>
      <div class="item tabs tabs-background-light tabs-secondary tabs-icon-left ">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-happy"></i>
          React
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar">
    <h2>Eunice Chung</h2>
    <a href="#" class="subdued">Uploaded November 4, 2015</a>
  </div>
      <div class="item item-body">
        <div>
          <img src="http://placehold.it/300x100" ng-click="showModal($event)">
          <span>#Abercombie</span>
          <br/>
          <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Reactions</a>
                <a href="#" class="subdued">9 Shares</a>

        </div>
      </div>
      <div class="item tabs tabs-background-light tabs-secondary tabs-icon-left ">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-happy"></i>
          React
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>

</ion-view>
