<ion-view view-title="ACCOUNT">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="doSomething()">
      <i class="icon ion-log-out"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <a class="item item-thumbnail-left " href="#">
        <img class="circle-profile-pic" src="https://pbs.twimg.com/profile_images/479090794058379264/84TKj_qa.jpeg">
        <h1>bennytzup34x</h1>
        
      </a>
      
      <a class="item item-icon-left">
        <i class="icon ion-email"></i>
        Change Email
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-locked"></i>
        Change Password
      </a>

      <a class="item item-icon-left" href="#/tab/account/download-photos">
        <i class="icon ion-arrow-down-c"></i>
        Download Photos 
      </a>

      <a class="item item-icon-left" href="#/tab/account/link-all">
        <i class="icon ion-link"></i>
        Link Account
      </a>
    </ion-list>
  </ion-content>
</ion-view>
