/*
To customize the look and feel of Ionic, you can override the variables
in ionic"s _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$font-path: "../fonts" !default;
$royal: #59ABE3 !default;
$balanced: #3f729b !default;

@font-face {
    font-family: "montserratbold";
    src: url("#{$font-path}/Montserrat-Bold-webfont.eot");
    src: url("#{$font-path}/Montserrat-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$font-path}/Montserrat-Bold-webfont.woff2") format("woff2"),
         url("#{$font-path}/Montserrat-Bold-webfont.woff") format("woff"),
         url("#{$font-path}/Montserrat-Bold-webfont.ttf") format("truetype"),
         url("#{$font-path}/Montserrat-Bold-webfont.svg#montserratbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserrathairline";
    src: url("#{$font-path}/Montserrat-Hairline-webfont.eot");
    src: url("#{$font-path}/Montserrat-Hairline-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$font-path}/Montserrat-Hairline-webfont.woff2") format("woff2"),
         url("#{$font-path}/Montserrat-Hairline-webfont.woff") format("woff"),
         url("#{$font-path}/Montserrat-Hairline-webfont.ttf") format("truetype"),
         url("#{$font-path}/Montserrat-Hairline-webfont.svg#montserrathairline") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserratlight";
    src: url("#{$font-path}/Montserrat-Light-webfont.eot");
    src: url("#{$font-path}/Montserrat-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$font-path}/Montserrat-Light-webfont.woff2") format("woff2"),
         url("#{$font-path}/Montserrat-Light-webfont.woff") format("woff"),
         url("#{$font-path}/Montserrat-Light-webfont.ttf") format("truetype"),
         url("#{$font-path}/Montserrat-Light-webfont.svg#montserratlight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserratregular";
    src: url("#{$font-path}/Montserrat-Regular-webfont.eot");
    src: url("#{$font-path}/Montserrat-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$font-path}/Montserrat-Regular-webfont.woff2") format("woff2"),
         url("#{$font-path}/Montserrat-Regular-webfont.woff") format("woff"),
         url("#{$font-path}/Montserrat-Regular-webfont.ttf") format("truetype"),
         url("#{$font-path}/Montserrat-Regular-webfont.svg#montserratregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.title {
  font-family: "montserratregular";
  // font-variant: small-caps;
  letter-spacing: 2px;
}

#login-form {
	background-image: url("../img/background_blurry.png");
	background-size: cover;
  background-attachment: fixed;
	background-repeat: no-repeat;
}

input.ng-invalid {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px #e74c3c;
}

input.ng-valid {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px #2ecc71;
}

h1 {
	color: #fff;
	font-weight: bold;
}

#login-form .login-header {
	background: rgba(0,0,0,0);
}

#login-form form.list label {
	background: inherit;
	color: #fff;
	border-left: none;
	border-top: none;
	border-right: none;
	

	input {
		background: inherit;
		color: #fff;
		// margin-top: -5px;
		margin-bottom: -6px;
	}
}

.circle-profile-pic {
    width: 30px;
    height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.card-tabs {
    background-color: #fff !important;
}

.button-instagram {
    background-color: #3f729b;
}

.icon-button {
	margin-right: 10px;
}

.imgContainer {
    // transform: rotate(180deg);
    //    -moz-transform: rotate(180deg);
    //    -webkit-transform: rotate(180deg);
  
    img {
       left: 0; top: 0;
       float: left;
       max-width: 100%;
    }

}

.camera-tab {
  background-color: #3BAFDA;
}

#myImage {
   // max-width: 40%;
   // max-height: 30%;
   transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


