<ion-view view-title="LINK ACCOUNT">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="doSomething()">
      <i class="icon ion-log-out"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <a class="item item-icon-left">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-social-instagram"></i>
        Instagram
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-social-googleplus"></i>
        Google+
      </a>
    </ion-list>
  </ion-content>
</ion-view>