<ion-view view-title="UPLOAD IMAGE" ng-init="capture()">
  <ion-content>
    <ion-list>
      <div class="item item-body"><div class="imgContainer"><img id="myImage" src="" style=""/></div></div>
      <label class="item item-input">
        <input type="text" placeholder="Brand">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="People">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Places">
      </label>
      <button class="button button-block button-royal" ng-click="upload($event)">
        Upload
      </button>
    </ion-list>
    {{message}}
  </ion-content>
</ion-view>