<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-bottom tabs-icon-only tabs-royal" style="bottom: -5px;">


  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  
  <ion-tab title="My Posts" icon-off="ion-person" icon-on="ion-person" href="#/tab/posts">
    <ion-nav-view name="tab-posts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Camera" icon-off="ion-camera" icon-on="ion-camera" class="camera-tab" href="#/tab/camera">
        <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
