<ion-view hide-nav-bar="true">
  <ion-content class="padding" id="login-form">
  		<div class="row" style="text-align:center;">
  			<div class="col col-100">
	  			<h1 style="color:#fff;">Login to Selfiesh</h1>
	  		</div>
  		</div>
		<div class="row">
			<div class="col col-25">
		        <a class="button button-block button-positive" href="#/login/facebook">
		          <i class="icon ion-social-facebook"></i>
		        </a>
		    </div>

		   <div class="col col-25">
		        <button class="button button-block button-calm">
		          <i class="icon ion-social-twitter"></i>
		        </button>
		   </div>

		   <div class="col col-25">
		        <button class="button button-block button-calm button-balanced">
		          <i class="icon ion-social-instagram"></i>
		        </button>
		   </div>

		   <div class="col col-25">
		        <button class="button button-block button-calm button-assertive">
		          <i class="icon ion-social-googleplus"></i>
		        </button>
		   </div>
		</div>

		<div class="row">
		  <div class="col col-100">
		    <button class="button button-block button-royal" ng-click="switchToLogin()">
		      <i class="icon ion-email icon-button"></i>
		      Login
		    </button>
		  </div>
		</div>

		<div class="row">
		  <div class="col col-100">
		    <button class="button button-block button-royal" ng-click="switchToSignup()">
		      <i class="icon ion-person-add icon-button"></i>
		      Sign Up
		    </button>
		  </div>
		</div>
  </ion-content>
</ion-view>