<ion-view hide-nav-bar="true">
  <ion-content class="padding">
	<oauth
	  site="http://oauth-ng-server.herokuapp.com"
	  client-id="d6d2b510d18471d2e22aa202216e86c42beac80f9a6ac2da505dcb79c7b2fd99"
	  redirect-uri="http://localhost:9000"
	  profile-uri="http://oauth-ng-server.herokuapp.com/api/v1/me"
	  scope="public">
	</oauth>
  </ion-content>
</ion-view>