<ion-view view-title="FRIENDS">
<ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="doSomething()">
      <i class="icon ion-person-add"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        <img ng-src="{{friend.face}}">
        <h2>{{friend.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
